{% extends "plantilla_base.html" %}

{% block contenido_base %}

<h3 style="background-color:#74a7e4;color:white;text-transform:uppercase;text-align:center;">
    Edit your Avatar</b>
</h3>

<div style="text-align:center;padding-top: 5%"> 
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-success btn-sm">
            Update your Avatar!
        </button>
    </form> 
</div>
 
{% endblock contenido_base %}