{% extends "plantilla_base.html" %}

{% block contenido_base %}

<h3 style="background-color:#74a7e4;color:white;text-transform:uppercase;text-align:center;">
  Login</b>
</h3>

<div style="text-align:center;padding-top: 5%">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">
      Sign In
    </button>
  </form>
  <br>

  <span>... Or create a new account -> </span>
  <a class="font-weight-bold" href="{% url 'account_register' %}">Register</a>

</div>
    
{% endblock contenido_base %}
