{% extends "plantilla_base.html" %}

{% block contenido_base %}

<div class="container my-3">
    <h2 class="text-center">Posts</h2>
    <div class="row">
        <div class="col md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/200x140/?summer,forest" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Titulo del Articulo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Ir al Articulo</a>
                </div>
            </div>
        </div>
        
        <div class="col md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/200x140/?winter,snow" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Titulo del Articulo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Ir al Articulo</a>
                </div>
            </div>
        </div>

        <div class="col md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/200x140/?beach,ocean" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Titulo del Articulo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Ir al Articulo</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% comment %} <img src="{{ user.avatar.imagen.url }}" /> {% endcomment %}



{% endblock contenido_base %}
