{% extends "plantilla_base.html" %}

{% block contenido_base %}

<div class="container my-3">
    <h2 class="text-center">Posts</h2>
    <div class="row">
        {% if object_list %}
            {% for post in object_list %}
                <div class="col md-4">
                    <div class="card" style="width: 18rem;">
                        <img src={{post.image.url}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.subtitle}}</p>
                            <a href="{% url 'detail-post' post.id %}" class="btn btn-primary">Ir al Articulo</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert" style='color:#ed5c53'>
                <h5>There are no posts to show you</h5>
            </div>
        {% endif %} 
    </div>
</div>



{% comment %} <img src="{{ user.avatar.imagen.url }}" /> {% endcomment %}



{% endblock contenido_base %}
