{% extends "plantilla_base.html" %}

{% block style_block %}
<style>
  table.blog-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
  .eliminado {
    background-color: red;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Posts</h1>
<a href="{% url 'create-post' %}">Crear Post!</a>

<br><br>

<table class="blog-table">
  <tbody>
    <tr>
      <th>
        <strong>Titulo</strong>
      </th>
      <th>
        <strong>Autor</strong>
      </th>
      <th>
        <strong>Fecha</strong>
      </th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for post in object_list %}
    <tr>
      <td>{{post.titulo}}</td>
      <td>{{post.autor}}</td>
      <td>{{post.fecha}}</td>
      <td><a href="{% url 'edit-post' post.id %}">Edit</a></td>
      <td><a href="{% url 'delete-post' post.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}