{% extends "plantilla_base.html" %}

{% block contenido_base %}

<br>

<div class="text-center">
  <img src={{post.image.url}} class="rounded img-fluid" alt="..." style="width: 600px; height: 200px;">
</div>

<h1 style="text-align:center;">{{post.title}}</h1>
<h3 style="text-align:center;">{{post.subtitle}}</h3>
<h5 style="text-align:justify;margin-right:20px;margin-left:20px;">{{post.content|safe}}</h5> 
<cite style="color: blue; font-style: normal; text-align: right; display: block;margin-right:20px;">
  {{post.date}}, {{post.author}}
</cite>

{% endblock contenido_base %}