{% extends "plantilla_base.html" %}

{% block contenido_base %}

<br>

<div class="text-center">
  <img src={{post.image.url}} class="rounded img-fluid" alt="..." style="width: 400px; height: 200px;">
</div>
<p></p>


<u><h1 style="text-align:center;">{{post.title}}</h1></u>
<p></p>
<h3 style="text-align:center;color:#2d8f2f">{{post.subtitle}}</h3>
<p></p>
<div style="text-align:justify;margin-right:30px;margin-left:30px;">
  {{post.content|safe}}
</div> 
<cite style="color: blue; font-style: normal; text-align: right; display: block;margin-right:30px;font-size:20px">
  {{post.date}}, {{post.author}}
</cite>

{% endblock contenido_base %}