{% extends "plantilla_base.html" %}

{% block style_block %}
<style>
  table.blog-table {
    border:3px solid;
    background-color: #dceafc;
    margin-left: auto;
    margin-right: auto;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
  .eliminado {
    background-color: red;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<div style="text-align:center">
  <h3 style="background-color:#74a7e4;color:white;text-transform:uppercase;">
    Posts Management</b>
  </h3>

  <a href="{% url 'create-post' %}" class="btn btn-primary btn-sm active " role="button" aria-pressed="true">
    Create New Post ->
  </a>

  <br>
  </br>

  <table class="blog-table">
    <thead>
      <tr>
        <td>
          <strong>Title</strong>
        </td>
        <td>
          <strong>Author</strong>
        </td>
        <td>
          <strong>Date</strong>
        </td>
        <td>
          <strong>Actions</strong>
        </td>
      </tr>
    <tbody>
      {% if object_list %}
        {% for post in object_list %}
          <tr>
            <td>{{post.title}}</td>
            <td>{{post.author}}</td>
            <td>{{post.date}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{% url 'edit-post' post.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete-post' post.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <div class="alert alert-warning" role="alert" style='color:#ed5c53'>
          <h5>There are no posts to show you</h5>
        </div>
      {% endif %}  
    </tbody> 
  </table> 
</div>

{% endblock contenido_base %}